<nav class="bottom-nav">
  <a routerLink="/feed" routerLinkActive="active" >
    <img src="assets/icons/bottom-nav/feed.svg" alt="">
  </a>
  <a routerLink="/shop" routerLinkActive="active">
    <img src="assets/icons/bottom-nav/shop.svg" alt="">
  </a>
  <a routerLink="/info" routerLinkActive="active"  >
    <img src="assets/icons/bottom-nav/jasyl-circle.svg" alt="">
  </a>
  <a routerLink="/tasks" routerLinkActive="active" >
    <img src="assets/icons/bottom-nav/tasks.svg" alt="">
  </a>
  <a routerLink="/profile" routerLinkActive="active" >
    <img src="assets/icons/bottom-nav/profile.svg" alt="">
  </a>

</nav>
